<div class="row">
    <div class="col-lg">
        <h1> Create new recipe </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        <form action="/recipes" method="post">

            <label for="name">Recipe Name: </label><br>
            <input type="text" name="name" placeholder="name">
            <br><br>

            <label for="ingredients">Ingredients: </label><br>
            <input type="text" name="ingredients" placeholder="ingredients">
            <br><br>

            <label for="cook_time">Cook time: </label><br>
            <input type="text" name="cook_time" placeholder="cook_time">
            <br><br>

            <input type="submit" id="submit" value="Submit">
        </form>
        <a href="/">Recipes</a>
    </div>
</div>